*/build
.DS_Store
/Sesion8/nbproject/private/
/SerpientesEscaleras/nbproject/private/
/Sesion9/nbproject/private/
/Sesion9_Eventos/nbproject/private/
/Practica_1/nbproject/private/
/MII_Sesion2/nbproject/private/
/DemoFx/nbproject/private/
/MII_Sesion3/nbproject/private/
/MII_Sesion3/dist/
/MII_Sesion3_sab/nbproject/private/
/MII_Sesion3_sab/dist/
/MII_Sesion4/nbproject/private/
/MII_Sesion4_sab/nbproject/private/
/Proyecto2_Chat/nbproject/private/
/Proyecto3_security/nbproject/private/