*/build
.DS_Store
/Sesion8/nbproject/private/
/SerpientesEscaleras/nbproject/private/
/Sesion9/nbproject/private/
/Sesion9_Eventos/nbproject/private/
/Practica_1/nbproject/private/
/MII_Sesion2/nbproject/private/
/DemoFx/nbproject/private/
/MII_Sesion3/nbproject/private/
/MII_Sesion3/dist/